body{
    background-image: url("background_página_raze2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}
h1{
    color: rgb(214, 65, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color: rgb(218, 166, 33);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    color: rgb(218, 166, 33);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: rgb(12, 208, 143);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color: rgb(235, 162, 17);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    color: rgb(12, 208, 143);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: #4caf4f00;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    position: relative;
  }
  
  button img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 85px;
    height: 65px;
    margin-right: 10px;
  }
